$wpp-color1: #1fa83d;
$wpp-color2: #179333;

.whatsappIconContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;


    .icon {
        width: 50px;
        height: 50px;

        &:hover {
            transform: scale(1.1);
            transition: all 0.2s ease-in-out;
        }
        &:active {
            transform: scale(0.9);
            transition: all 0.2s ease-in-out;
        }
    }
}