@import '../../global.scss';

.sendBtn {
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    background-color: $dorado;
    color: $black;
    font-family: $font-general;
    font-weight: 700;
    border-color: transparent;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 10px 0px $dorado;
    }
}