@import '../../global.scss';

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@font-face {
  font-family: "Master Of Break";
  src: url("src/assets/fonts/master_of_break.ttf");
}
@font-face {
  font-family: "Libel";
  src: url("src/assets/fonts/libel-suit-rg.otf");
}

.black-text {
    color: $black;
    font-family: Libel Suit;
    font-size: 70%;
    font-style: normal;
    font-weight: 400;
    line-height: 114.586%; /* 68.752px */
  }
  
  .purple-text {
    color: $purple;

  font-family: Master Of Break;
  font-size: 70%;
  font-style: normal;
  font-weight: 400;
  line-height: 114.586%;
  }
  
  .propuesta-title{
    margin-top: 15%;
    // margin-left: 64px;
    width: 954px;
    height: 61px;
    flex-shrink: 0;    
    margin-left: 65px;
  }

  .propuesta-title p{
    color: $black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%; /* 30.72px */
  }

  .propuesta-text{
    width: 50%;
    height: 50%px;
    flex-shrink: 0;
  }