@import '../../global.scss';


.navbarLogo {
    background-color: $white;
    border-top-right-radius: 18px;
    width: 90%;
  
    .logoNavbar {
        width: 60%;
        flex-shrink: 0;
        margin-left: 20%;
        // padding: 20%;
    }
}

.pagesNavbar{
    height: 19px;
    flex-shrink: 0;
    color: $dorado;
    margin-left: 2%;
}

.pagesNavbar:hover {
    color: $pomelo; 
}
  
a {
    text-decoration: none;
}

.mobile-links {
    display: flex;
    .MuiIconButton-root {
    color: inherit;
    }
}


  .Box-md-flex {
    display: flex;
    align-items: center;

  
    @media (max-width: 768px) {
      display: none;
    }
  }
  
  .IconButton-menu{
    size: large;
    color: inherit;
    display: none;
    margin-left: auto;
    
    @media (max-width: 768px){
        display: flex;
    }

    .menuIcon{
        color: $dorado;
    }
  }
 
 