@import '../../global.scss';

.navBox{
    flex-direction: row;
    display: flex;

    align-items: center;
}

.navbarLogo {
    background-color: $white;
    border-top-right-radius: 18px;
    width: 100%;
    padding: 1%;
  
    .logoNavbar {
        width: 90%;
        flex-shrink: 0;
    }
}

.pagesNavbar{
    height: 19px;
    flex-shrink: 0;
    color: $dorado;
    margin-left: 5%;

}

.pagesNavbar:hover {
    color: $pomelo; 
}
  
a {
    text-decoration: none;
}

.mobile-links {
    display: flex;
    .MuiIconButton-root {
    color: inherit;
    }
}


  .Box-md-flex {
    display: flex;
    align-items: center;

  
    @media (max-width: 768px) {
      display: none;
    }
  }
  
  .IconButton-menu{
    size: large;
    color: inherit;
    display: none;
    margin-left: auto;
    
    @media (max-width: 768px){
        display: flex;
    }

    .menuIcon{
        color: $dorado;
    }
  }
 
//  #menu-appbar{
//     width: 100vh; 
//  }
