@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@font-face {
  font-family: "Master Of Break";
  src: url("src/assets/fonts/master_of_break.ttf");
}
@font-face {
  font-family: "Libel";
  src: url("src/assets/fonts/libel-suit-rg.otf");
}


.black-text {
    color: black;
  }
  
  .purple-text {
    color: #9471E8;
  }
  