//Fonts

//GENERAL FONT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$font-general: 'Montserrat', sans-serif;


//NAVBAR FONT
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
$font-navbar: 'Montserrat Alternates', sans-serif;

//CALIGRAPHIC FONT
@font-face {
    font-family: 'Master Of Break';
    src: url('/public/fonts/master_of_break.ttf');
}

$font-caligraphic: 'Master Of Break';

//TITLES FONT
@font-face {
    font-family: 'Libel';
    src: url('/public/fonts/libel-suit-rg.otf');
}

$font-titles: 'Libel', sans-serif;

//Color Palette
$white: #fff;
$black: #050505; //(en todo lo que va en negro, navbar, textos, títulos, footer, etc.)
$pomelo: #FF9F8D; // palabra 'Pomelo' y trazos
$pera: #FFE273; //palabra 'Pera' y trazos
$frutilla: #FF8D9A; //palabra 'Frutilla' y trazos
$mandarina: #FFAD67; //palabra 'Mandarina' y trazos
$frambuesa: #FF7EAD; //palabra 'Frambuesa' y trazos
$dorado: #FFCC6A; //Botones y palabras del Nav bar
$hero-title-bg: #FFEDCA //Background color para el titulo del hero